*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.header a{
    margin: 20px;
    color: rgb(0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;

}
.header a:hover{
    text-decoration: underline;
    color: blue;

}
.header-right{
   display: flex;
   align-items: center;
   min-width: 13vw;
   justify-content: space-between;
}
.header-apps{
    margin-right: 10px;
}
.header-apps:hover{
    cursor: pointer;
    color: blue;
    border: 6px solid rgb(235, 234, 234);
    border-radius: 30px;
}
.main{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}
.main img{
    object-fit: contain;
    height: 100px;
}
.search-input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height:30px;
    padding:10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.search-input input{
    flex: 1;
    padding: 10px 20px;
    border:none;
    outline: none;    

}
.search-input .material-icons{
    color: gray;
}
.search-input .material-icons:hover{
    cursor: pointer;
    color: blue;
}
.search-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.search-buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}